# Library Configuration for TinyMeowOS
# Format: LIBRARY_NAME|PATH_ON_HOST|DESTINATION_PATH

# External libraries
#LIBPNG|/lib/x86_64-linux-gnu/libpng16.so.16|lib/x86_64-linux-gnu/libpng16.so.16
#LIBZ|/lib/x86_64-linux-gnu/libz.so.1|lib/x86_64-linux-gnu/libz.so.1
#LIBFREETYPE|/lib/x86_64-linux-gnu/libfreetype.so.6|lib/x86_64-linux-gnu/libfreetype.so.6

# C standard library and dynamic linker
LIBC|/lib/x86_64-linux-gnu/libc.so.6|lib/x86_64-linux-gnu/libc.so.6
LIBM|/lib/x86_64-linux-gnu/libm.so.6|lib/x86_64-linux-gnu/libm.so.6
LD_LINUX|/lib64/ld-linux-x86-64.so.2|lib64/ld-linux-x86-64.so.2

# Additional required libraries
LIBPTHREAD|/lib/x86_64-linux-gnu/libpthread.so.0|lib/x86_64-linux-gnu/libpthread.so.0
LIBDL|/lib/x86_64-linux-gnu/libdl.so.2|lib/x86_64-linux-gnu/libdl.so.2

#NANOX|/workspaces/tiny-meowos/microwindows/src/bin/nano-X|bin/nano-X
BUNJS|/workspaces/bun-linux-x64-baseline/bun|bin/bun